<div class='dialogSize'>
    <h2>{{selectedJob.name}}</h2>
    <div *ngIf="selectedJob.name == 'GeoDecisions'">
        <p>  Title: Front-End Developer <br />
             Location : Camp Hill, Pennsylvania <br />
             Dates Attented: September 2016 to July 2016
        </p>
        <md-tab-group>
            <md-tab label="Description">
                <p class="fonts"> For Pennsylvania Department of Transportation (PennDOT), 
                    I was part of GeoDecisions' on-site team, working on an intranet browser-based mapping
                    application that allows users to visualize and query geographical data from a variety
                    of sources. The application was built
                    At GeoDecisions, I was part of the Project Health and Review Model (PHaRM) team 
                    responsible for developing a project tracking and assessment web application.
                    PHaRM received the GeoDecisions President Quality Award in 2017.
                </p>
            </md-tab>
            <md-tab label="Responsibilities">
                <ul class="fonts">
                    <li>Built additional features on an existing GIS app for PennDOT</li>
                    <li>These features were built using technologies including Oracle, 
                        Esri® ArcGIS, JavaScript API, AngularJS, and ASP.NET Web API. </li>
                    <li>Part of a Software Developement team that built PHaRM using Angular 2, TypeScript
                        and Bootstrap 4</li>
                    <li>Using Karma, Jasmine, wrote unit tests for the features that were developed</li>
                 </ul>
            </md-tab>
            <md-tab label="Languages Used">
                <ul class="fonts">
                    <li> IDE: Visual Studio 2015 </li>
                    <li> Version Control: TFS '13, '17, Git </li>
                    <li> Source Code Management: Stash, SourceTree </li>
                    <li> Angular, AngularJS, Esri® ArcGIS, HTML, CSS, WebAPI </li>
                    <li> Unit Testing: Jasmine, Karma, Istanbul </li>
                    <li> Database: Microsoft SQL Server 2016 </li>
                </ul>
            </md-tab>
        </md-tab-group>
    </div>
    <div *ngIf="selectedJob.name == 'DNV GL'">
        <p>  Title: QA/Software Developer Summer Intern <br />
             Location : Mechanicsburg, Pennsylvania <br />
             Dates Attented: June 2015 to August 2015
        </p>
        <md-tab-group>
            <md-tab label="Description">
                <p class="fonts"> At DNV GL I was part of the Quality Assurance team where I analyzed functional requirements,
                    user specifications, use case designs and researched the use of Specflow
                    (an open source test driven development tool)for the Customer Management Module
                    (large scale IT Application) in the Gas industry.
                </p>
            </md-tab>
            <md-tab label="Responsibilities">
                <ul class="fonts">
                    <li>Developed 14 automated test cases the .NET environment.</li>
                    <li>Researched and integrated the use of Specflow in all of the 14 test cases.</li>
                    <li>With the help of the software development team, I analyzed the functional requirements for the Customer Management Module.</li>
                    <li>Documented the integration of Specflow into .NET using MS Word</li>
                    <li>Enhanced my MS PowerPoint and communication skills by presenting the bi-weekly progress of the development project</li>
                </ul>
            </md-tab>
            <md-tab label="Languages Used">
                <ul class="fonts">
                    <li> IDE: Visual Studio 2015 </li>
                    <li> C# </li>
                    <li> TestStack White </li>
                    <li> Specflow </li>
                </ul>
            </md-tab>
        </md-tab-group>
    </div>
    <div *ngIf="selectedJob.name == 'FinIQ Consulting'">
        <p>  Title: Software Developer <br />
             Location : Pune, India <br />
             Dates Attented: June 2013 to June 2014
        </p>
        <md-tab-group>
            <md-tab label="Description">
                <p class="fonts"> As part of the software development team at FinIQ Consulting, financial models had to be implemented
                    in the .NET environment. The main client that was handled by the software development team
                    was Standard Chartered Bank, Malaysia.
                </p>
            </md-tab>
            <md-tab label="Responsibilities">
                <ul class="fonts">
                    <li>Developed 8 executable applications in .NET environment.</li>
                    <li>Performed Manual Testing for these executable files </li>
                    <li>For future company use, I documented the logical flow of interest rate swaps using MS Word.</li>
                </ul>
            </md-tab>
            <md-tab label="Languages Used">
                <ul class="fonts">
                    <li> IDE: Visual Studio 2012 </li>
                    <li> VB.NET </li>
                    <li> Database: Microsoft SQL Server 2008 </li>
                </ul>
            </md-tab>
        </md-tab-group>
    </div>
</div>