<!--The content below is only a placeholder and can be replaced.-->
<div class="background" style="text-align:center" flex="20">
    <div>
        <h1 style="font-family:Georgia, 'Times New Roman', Times, serif">
            Welcome to {{title}}
        </h1>
        <img width="300" src="assets/images/headshot.jpg" />
        <div>
            <label>E-Mail: </label>sikka.12343@gmail.com <br />
            <label>LinkedIn: </label> <a href="https://linkedin.com/in/sikanderbabwani" target="_blank"> LinkedIn </a> <br />
            <label>GitHub: </label> <a href="https://github.com/sikanderBabwani" target="_blank"> GitHub </a> <br />
        </div> 
   </div>
    <div>
        <md-tab-group>
            <md-tab label="About Me">
                <p class="aboutMe">
                   Hello, my name is Sikander Babwani and I'm a Web Developer with a keen interest in the Angular framework.
                   I've been in the field of Web Development since 2014, and have been immersed in the Angular world since 2016.
                   I love using Angular to bring websites to life and this e-portfolio has been created using the latest version
                   of Angular along with the handy angular-cli tool. On this website, you'll find my journey as an undergraduate
                   at College of Engineering Pune to my last gig at GeoDecisions as a Web Developer.
                   A very recent hobby includes animation and graphic design so stay tuned for some graphics and
                   animations on this website! 
                   In my free time, I'm typically watching or playing soccer. It's the most fascinating game and as a player
                   myself, it has taught me management and communication skills and how to be a team player because without the
                   entire team, it's impossible to win!
                   You can go through this website and please feel free to offer suggestions/opnions at the above mentioned contact links.
                </p>
            </md-tab>
            <md-tab label="Education">
                <table id="myTable" class="schools">
                    <tbody class="fonts">
                        <tr *ngFor="let school of schools">
                            <td class="badge">{{school.id}}</td>
                            <td (click)="onSelectSchool(school)">{{school.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </md-tab>
            <md-tab label="Experience">
                <table id="myTable" class="jobs">
                    <tbody class="fonts">
                        <tr *ngFor="let job of jobs">
                            <td class="badge">{{job.id}}</td>
                            <td (click)="onSelectJob(job)">{{job.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </md-tab>
            <md-tab label="Projects">
                <table id="myTable" class="projects">
                    <tbody class="fonts">
                        <tr *ngFor="let project of projects">
                            <td class="badge">{{project.id}}</td>
                            <td (click)="onSelectProject(project)">{{project.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </md-tab>
            <md-tab label="Awards and Certifications">
                <table id="myTable">
                    <tbody class="fonts">
                        <tr>
                            <td class="badge">1</td>
                            <td (click)="onSelectAward(1)">Outstanding MSIS Award at Penn State</td>
                        </tr>
                        <tr>
                            <td class="badge">2</td>
                            <td (click)="onSelectAward(2)">Beta Gamma Sigma Society Member at Penn State</td>
                        </tr>
                        <tr>
                            <td class="badge">3</td>
                            <td (click)="onSelectAward(3)">IBM Certified DB2 9 Academic Associate</td>
                        </tr>
                    </tbody>
                </table>
            </md-tab>
        </md-tab-group>
    </div>
</div>




